@model IEnumerable<OnlineRechargeApplication.Models.PlanModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="container">
    <h1 class="text-center">Detailed Plan</h1>
    <div class="text-right">
        <a asp-action="Create" class="btn btn-success"> <i class="fas fa-plus"></i></a>
    </div>
</div>

<p>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead class="table-primary">
        <tr>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planId)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planName)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planPrice)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planValidity)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planDescription)
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.planId)
                </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.planName)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.planPrice)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.planValidity)
            </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.planDescription)
                </td>
                <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.planId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.planId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.planId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
