@model IEnumerable<OnlineRechargeApplication.Models.PlanModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead class="table-primary">
        <tr>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planId)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planName)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planPrice)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planValidity)
            </th>
            <th class="text-center">

                @Html.DisplayNameFor(model => model.planDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.planId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.planName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planValidity)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.planDescription)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.planId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.planId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.planId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
