@model IEnumerable<OnlineRechargeApplication.Models.ServiceProviderModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .text-right {
        text-align: right;
    }
</style>

<div class="container">
    <h1 class="text-center">Service Providers</h1>
    <div class="text-right">
        <a asp-action="Create" class="btn btn-success"> <i class="fas fa-plus"></i> New Service</a>
    </div>
</div>
<br />
<table class="table table-bordered table-striped table-sm">
    <thead class="table-primary">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ServiceProviderId)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ServiceProviderName)
            </th>
            <th class="text-center">

                Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ServiceProviderId)
                </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.ServiceProviderName)
            </td>
                <td class="text-center">
                    <a asp-action="Edit" class="btn btn-primary btn-icon btn-sm" asp-route-id="@item.ServiceProviderId"> <i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" class="btn btn-secondary btn-icon btn-sm" asp-route-id="@item.ServiceProviderId"> <i class="fas fa-eye"></i></a> |
                    <a asp-action="Delete" class="btn btn-danger btn-icon btn-sm" asp-route-id="@item.ServiceProviderId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
